.dashboardContainer {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
}

.sidebarOpen {
  grid-template-columns: 1fr 5fr;
}

.sidebarClosed {
  grid-template-columns: 5fr 1fr;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  background: var(--background-color);
  height: 100%;
  padding: 3rem 3rem;
  border-top-left-radius: 15px;
}

@media screen and (max-width: 450px) {
  .mainContent {
    padding: 2rem;
  }
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  letter-spacing: 0.1rem;
  gap: 1.5rem;
}

.addTaskCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: 400ms ease-in-out;
  letter-spacing: 0.05rem;
}

.addTaskCard:hover {
  filter: drop-shadow(0px 2px 27px rgba(0, 0, 0, 0.09));
}

@media screen and (max-width: 450px) {
  .addTaskCard {
    flex: 1;
  }
}

.taskContainer {
  background: var(--white-color);
  margin: 1rem 0;
  transition: 400ms ease-in-out;
  padding: 1rem 2rem;
  border-radius: 15px;
  gap: 1rem;
  font-size: 18px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskContainer:hover {
  filter: drop-shadow(0px 2px 27px rgba(0, 0, 0, 0.09));
}

.taskContainer > p {
  flex: 1 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.taskButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.taskButtonContainer > button {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
}

.taskButtonContainer > button > img {
  width: 20px;
}

.completedButton {
  border: 1px solid var(--lavender-color);
  background: var(--lavender-color-transparent);
}

.deleteButton {
  border: 1px solid var(--red-color);
  background: var(--red-color-transparent);
}
