.dashboardContainer {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  transition: all ease-in-out 400ms;
  overflow: hidden;
}

.sidebarOpen {
  grid-template-columns: 1fr 5fr;
}

.sidebarClosed {
  grid-template-columns: 1fr;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  background: var(--background-color);
  height: calc(100vh - 80px);
  padding: 3rem 3rem;
  border-top-left-radius: 15px;
  overflow: auto !important;
}

@media screen and (max-width: 450px) {
  .mainContent {
    padding: 2rem;
  }
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  letter-spacing: 0.1rem;
  gap: 1.5rem;
}

.addTaskCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  background: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: 400ms ease-in-out;
  letter-spacing: 0.05rem;
}

.createNewTaskInput {
  background: var(--background-color);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 100% !important;
  min-height: 40px;
}

.createNewTaskInput > input {
  font-family: var(--poppins-font);
  border: none;
  background: transparent;
  outline: none;
  width: 100% !important;
}

/* .createNewTaskInput button {
  background: var(--primary-color);
  padding: 10px;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
} */

.createNewTaskInput img {
  height: 15px;
  width: auto;
}

.addTaskCard:hover {
  filter: drop-shadow(0px 2px 27px rgba(0, 0, 0, 0.09));
}

@media screen and (max-width: 450px) {
  .addTaskCard {
    flex: 1;
  }
}
