.newButtonContainer {
  width: 100%;
  padding: 0.8rem 1rem;
  background: var(--primary-dark-color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  transition: 400ms ease-in-out;
}

.secondaryButtonContainer > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.icon {
  width: 1rem;
  height: auto;
}
